#gallery {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

#gallery li {
    margin: 5px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}
